<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Map Our Masters</h1>
    <p> Shine a light on our masters by creating a profile page.
        If you are a likeminded Community Orgnaization, or Individual, Sign up and Share your resistance with the world.
        If you are a progressive Independent Vendor/Small Business, sign up here.  Items you sell will support this website and support grassroots campaigns. 
        If you would like to build another version of this site for your country, find the github code here: </p>
    <hr>
    <a href="https://github.com/sudharti/socify" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/sudharti/socify" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
  </div>
</div>